/* CSS Reset */
* {
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex-block;
    height: 400px;
    width: 250px;
    background-color: black;
    border-radius: 15px;
    margin-top: 20px;
}

#display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: white;
    font-size: x-large;
    padding: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px 10px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: black;
    background-color: slategrey;
    color: white;
    font-size: x-large;
}

.operator {
    background-color: orange;
}

#equals {
    background-color: darkgray;
    width: 250px;
    height: 50px;
    border-radius: 15px;
}